<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #3a4241;
    color: #e1ffc4;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0px;
    margin-right: 10px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  /* .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  } */

  .content {
    position: fixed;
    left: 0px;
    top: 60px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  .intuneDataTable,
  .sccmDataTable {
    border-collapse: collapse;
    font-size: .9em;
    /* width: 100%; */
    
  }
  .intuneDataTable tr,
  .sccmDataTable tr {
    max-height: 100px;
  }
  .intuneDataTable th,
  .sccmDataTable th {
    background-color: #c2c3c4;
  }
  .intuneDataTable th,
  .intuneDataTable td,
  .sccmDataTable th,
  .sccmDataTable td {
    border: transparent;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    max-height: 100px;
    /* overflow: hidden;
    text-overflow: ellipsis; */
    padding: 4px 6px;
  }
  .intuneDataTable thead th:first-child,
  .intuneDataTable tbody tr td:first-child,
  .sccmDataTable thead th:first-child,
  .sccmDataTable tbody tr td:first-child {
    border-left: solid 1px #cccccc;
  }
  .intuneDataTable thead th:last-child,
  .intuneDataTable tbody tr td:last-child,
  .sccmDataTable thead th:last-child,
  .sccmDataTable tbody tr td:last-child {
    border-right: solid 1px #cccccc;
  }
  .intuneDataTable tr:nth-child(4n+1) {
    background-color: #eee;
  }
  .sccmDataTable tr:nth-child(2n) {
    background-color: #eee;
  }
  .datatable,
  .sccm_datatable {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 10px;
    overflow: auto;
    border: solid 1px #cccccc;
  }

  .sccm_datatable {
    display: none;
  }

  .expandercell {
    background-color: transparent;
    transition: background-color .4s;
    /* font-weight: bold; */
  }
  .expandercell:hover {
    background-color: #66595B;
    transition: background-color .4s;
  }

  .extraInfoCell {
    /* display: none; */
    white-space: normal;
  }
  .filter {
    padding: 20px;
    padding-left: 100px;
    vertical-align: middle;
  }
  .filter input {
    outline: none;
    border: solid 1px #e1ffc4;
    background-color: #3a4241;
    color: #e1ffc4;
    padding: 4px;
    border-radius: 7px;
    width: 100px;
    transition: width .4s;
    z-index: 1;
  }
  .filter input:focus {
    border: solid 1px #e1ffc4;
    background-color: #e1ffc4;
    color: #3a4241;
    width: 300px;
    transition: width .4s;
  }

  .toolbarlink {
    color: #e1ffc4;
  }
  .toolbarlink:hover {
    color: white !important;
  }
  .profilepanel {
    display: none;
    position: absolute;
    top: 58px;
    right: 4px;
    height: 180px;
    width: 300px;
    border: solid 1px #dddddd;
    background-color: #ffffff;
    color: #3a4241;
    z-index: 9999;
    border-radius: 11px;
    padding: 14px;
    font-size: .85em;
    box-shadow: 0px 0px 10px -5px #000000;
    outline: none;
  }
  .profilepanel::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 18px;
    border: solid 10px transparent;
    border-bottom-color: #dddddd;
  }
  .profilepanel::after {
    content: '';
    position: absolute;
    top: -19px;
    right: 18px;
    border: solid 10px transparent;
    border-bottom-color: #ffffff;
  }
  .profilepic {
    border-radius: 40px;
    border: solid 1px #3a4241;
    outline: none;
  }
  .profilepic:focus ~ .profilepanel,
  .profiledropdownarrow:focus ~ .profilepanel {
    display: block;
  }
  .profilepanel:hover {
    display: block;;
  }
  .profilepic2 {
    border-radius: 7px;
    border: solid 0px #cccccc;
  }
  .signout {
    cursor: pointer;  
  }
  .signout:hover {
    text-decoration: underline;
  }
  .hiddenpanel {
    display: none;
  }
  .profiledropdownarrow {
    display:inline-block;
    width: 0px;
    height: 0px;
    border: solid 5px transparent;
    border-top-color: #e1ffc4;
    outline: none;
    margin-top: 8px;
  } 
  .expandarrow g path {
    fill: #2c544f;
  }
  .expandercell:hover .expandarrow g path {
    fill: #e1ffc4;
  }

  .filtertext::after {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    content: "Filter...";
    color: #e1ffc4;
    margin-left: -100px;
    margin-top: 2px;
    font-weight: normal;
    font-style: italic;
    z-index: 0;
    pointer-events: none
  }
  .sortDownArrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    border: solid 5px transparent;
    border-top-color: black;
    position: absolute;
    margin-top: 8px;
    margin-left: 4px;
  }
  .sortUpArrow {
    display: inline-block;
    width: 0px;
    height: 0px;
    border: solid 5px transparent;
    border-bottom-color: black;
    position: absolute;
    margin-top: 3px;
    margin-left: 4px;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div style="display: inline-block; position: relative; width: 30px; height: 30px; padding-left: 20px;">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      version="1.1"
      id="Capa_1"
      x="0px"
      y="0px"
      viewBox="0 0 368 368">
      <path
        style="fill:#ffee6c;"
        d="M152,24v112c0,8.8-7.2,16-16,16H24c-8.8,0-16-7.2-16-16V24c0-8.8,7.2-16,16-16h112  C144.8,8,152,15.2,152,24z"
        id="path2" />
      <g
        id="g12">
        <path
        style="fill:#66e88b;"
        d="M136,0H24C10.768,0,0,10.768,0,24v112c0,13.232,10.768,24,24,24h112c13.232,0,24-10.768,24-24V24   C160,10.768,149.232,0,136,0z M144,136c0,4.408-3.592,8-8,8H24c-4.408,0-8-3.592-8-8V24c0-4.408,3.592-8,8-8h112   c4.408,0,8,3.592,8,8V136z"
        id="path4" />
        <path
        style="fill:#66e88b;"
        d="M344,0H232c-13.232,0-24,10.768-24,24v112c0,13.232,10.768,24,24,24h112c13.232,0,24-10.768,24-24   V24C368,10.768,357.232,0,344,0z M352,136c0,4.408-3.584,8-8,8H232c-4.416,0-8-3.592-8-8V24c0-4.408,3.584-8,8-8h112   c4.416,0,8,3.592,8,8V136z"
        id="path6" />
        <path
        style="fill:#66e88b;"
        d="M136,208H24c-13.232,0-24,10.768-24,24v112c0,13.232,10.768,24,24,24h112c13.232,0,24-10.768,24-24   V232C160,218.768,149.232,208,136,208z M144,344c0,4.408-3.592,8-8,8H24c-4.408,0-8-3.592-8-8V232c0-4.408,3.592-8,8-8h112   c4.408,0,8,3.592,8,8V344z"
        id="path8" />
        <path
        style="fill:#66e88b;"
        d="M344,208H232c-13.232,0-24,10.768-24,24v112c0,13.232,10.768,24,24,24h112c13.232,0,24-10.768,24-24   V232C368,218.768,357.232,208,344,208z M352,344c0,4.408-3.584,8-8,8H232c-4.416,0-8-3.592-8-8V232c0-4.408,3.584-8,8-8h112   c4.416,0,8,3.592,8,8V344z"
        id="path10" />
      </g>
    </svg>
  </div>
  <span style="padding-left:10px">Sentara Applications</span>
    <div [class]="isFilterEmpty?'filter filtertext':'filter'" [style.display]="isLoggedIn?'block':'none'">
      <input type="text" #filter (keyup)="filtertable()" tabindex="1" /> <img src="assets/funnel.svg" style="vertical-align: middle; margin-left: 10px;" />
    </div>
    <div class="spacer"></div>
    <a #loginlink class="toolbarlink" style="cursor: pointer; padding: 0 2px; margin-right: 20px;" [style.display]="isLoggedIn?'none':'block'" (click)="login()" title="Login">Login</a>
    <!-- <a class="toolbarlink" style="cursor: pointer; padding: 0 2px; padding-right: 20px" (click)="logout()" title="Logout">Logout</a> -->
    <span class="profiledropdownarrow" *ngIf="isLoggedIn" tabindex="2"></span>
    <img class="profilepic" src="assets/user.svg" #profilepic [style.display]="isLoggedIn?'block':'none'" width="30" height="30" tabindex="3"  />
    <div [class]="isLoggedIn?'profilepanel':'hiddenpanel'" tabindex="4">
      <div>Signed in as <span style="font-weight: bold;">{{username}}</span></div>
      <hr />
      <div>{{fullname}}</div>
      <div style="margin-top: 4px;">
        <img class="profilepic2" src="assets/user.svg" #profilepic2 width="100" height="100"/>
      </div>
      <div style="float:right;">
        <span class="signout" (click)="logout()" >Sign out</span>
      </div>
    </div>
</div>

<div class="content" role="main" [style.display]="isLoggedIn?'block':'none'">
  
  
  <div #intunedatacontainer class="datatable">
    <h3 style='margin-left: 10px;'>Sentara applications</h3>
    <tgt-uxlib-table #uxtable [defer]=true>
      <table class="intuneDataTable">
        <thead class="unselectable">
          <th [attr.isStaticWidth]="true"></th>
          <th (click)="setSortOptions('displayName', 'string')">
            Name
            <span *ngIf="sortoptions.propname=='displayName'" [class]="sortoptions.direction=='ASC'?'sortDownArrow':'sortUpArrow'"></span>
          </th>
          <th (click)="setSortOptions('publisher', 'string')">
            Publisher
            <span *ngIf="sortoptions.propname=='publisher'" [class]="sortoptions.direction=='ASC'?'sortDownArrow':'sortUpArrow'"></span>
          </th>
          <th (click)="setSortOptions('source', 'string')">
            Source
            <span *ngIf="sortoptions.propname=='source'" [class]="sortoptions.direction=='ASC'?'sortDownArrow':'sortUpArrow'"></span>
          </th>
          <th (click)="setSortOptions('createdDateTime', 'number')">
            Created
            <span *ngIf="sortoptions.propname=='createdDateTime'" [class]="sortoptions.direction=='ASC'?'sortDownArrow':'sortUpArrow'"></span>
          </th>
          <th (click)="setSortOptions('lastModifiedDateTime', 'number')">
            Last update
            <span *ngIf="sortoptions.propname=='lastModifiedDateTime'" [class]="sortoptions.direction=='ASC'?'sortDownArrow':'sortUpArrow'"></span>
          </th>
        </thead>
        <tbody>
          <!-- <ng-template ngFor let-item [ngForOf]="intuneData" let-i="index" let-lastrow="last" [ngForTrackBy]="trackIntuneItem">
            <div #finishedLoading="item">{{item.displayName}}</div>
          </ng-template> -->
          <ng-template ngFor let-item [ngForOf]="intuneViewData" let-i="index" let-lastrow="last" [ngForTrackBy]="trackIntuneItem">
            <tr *ngIf="!item.hidden" [attr.finishedLoading]="lastrow?tableloaded(lastrow):null">
              <td class="expandercell unselectable" (click)="expand($event.target, item)" style="text-align: center; cursor: pointer;">
                <!-- <img class="expandarrow" src="assets/rightarrow.svg" width="10" height="10" *ngIf="!item.expanded" />
                <img class="expandarrow" src="assets/downarrow.svg" width="10" height="10" *ngIf="item.expanded" /> -->
                <div *ngIf="!item.expanded" style="display: inline-block;">
                  <svg class="expandarrow" xmlns="http://www.w3.org/2000/svg" width="2.5331588mm" height="2.9250398mm" viewBox="0 0 2.5331589 2.9250398">
                    <g id="layer1" transform="translate(-45.725179,-73.722562)">
                      <path                  
                        sodipodi:type="star"
                        style="stroke-width:0.17213"
                        id="path833"
                        sodipodi:sides="3"
                        sodipodi:cx="46.569565"
                        sodipodi:cy="75.185081"
                        sodipodi:r1="1.6887724"
                        sodipodi:r2="0.84438628"
                        sodipodi:arg1="0"
                        sodipodi:arg2="1.0471976"
                        d="m 48.258337,75.185081 -1.266579,0.73126 -1.266579,0.73126 0,-1.46252 0,-1.462519 1.266579,0.73126 z" />
                    </g>
                  </svg>
                </div>  
                <div *ngIf="item.expanded" style="display: inline-block;">
                  <svg class="expandarrow" xmlns="http://www.w3.org/2000/svg" width="2.9250398mm" height="2.5331588mm" viewBox="0 0 2.9250399 2.5331588">
                    <g
                      inkscape:label="Layer 1"
                      inkscape:groupmode="layer"
                      id="layer1"
                      transform="translate(-45.107042,-74.340694)">
                      <path
                        sodipodi:type="star"
                        style="stroke-width:0.17213"
                        id="path833"
                        sodipodi:sides="3"
                        sodipodi:cx="46.569565"
                        sodipodi:cy="75.185081"
                        sodipodi:r1="1.6887724"
                        sodipodi:r2="0.84438628"
                        sodipodi:arg1="0"
                        sodipodi:arg2="1.0471976"
                        d="m 48.258337,75.185081 -1.266579,0.73126 -1.266579,0.73126 0,-1.46252 0,-1.462519 1.266579,0.73126 z"
                        transform="rotate(90,46.569564,75.185079)" />
                    </g>
                  </svg>
                </div> 
              </td>
              <td>
                {{item.displayName}}
              </td>
              <td>
                {{item.publisher}}
              </td>
              <td>
                {{item.source}}
              </td>
              <td>
                {{item.createdDateString}}
              </td>
              <td>
                {{item.lastModifiedDateString}}
              </td>
            </tr>
            <tr>
              <td class="extraInfoCell" [style]="item.expanded?'display:table-cell':'display:none'" colspan="6"> <!--  -->

                <h3 *ngIf="item.SoftwareVersion">Version</h3>
                <span *ngIf="item.SoftwareVersion">{{item.SoftwareVersion}}</span>

                <h3 *ngIf="item.description">Description</h3>
                <span *ngIf="item.description"><pre style="white-space: pre-wrap; font-size: .85em">{{item.description}}</pre></span>

                <h3 *ngIf="item.AdminComments">Comments</h3>
                <span *ngIf="item.AdminComments">{{item.AdminComments}}</span>

                <h3 *ngIf="item.itempath">Microsoft Endpoint Configuration Manager Path</h3>
                <span *ngIf="item.itempath">{{item.itempath}}</span>

                <h3 *ngIf="item.createdDateTime">Created date</h3>
                <span *ngIf="item.createdDateTime">{{item.createdDateString}}</span>

                <h3 *ngIf="item.lastModifiedDateTime">Last modified date</h3>
                <span *ngIf="item.lastModifiedDateTime">{{item.lastModifiedDateString}}</span>

                <h3 *ngIf="item.LastModifiedBy">Last modified by</h3>
                <span *ngIf="item.LastModifiedBy">{{item.LastModifiedBy}}</span>

                <h3 *ngIf="item.setupFilePath">Setup file path</h3>
                <span *ngIf="item.setupFilePath">{{item.setupFilePath}}</span>

                <h3 *ngIf="item.uninstallCommandLine">Uninstall command</h3>
                <span *ngIf="item.uninstallCommandLine">{{item.uninstallCommandLine}}</span>

                <h3 *ngIf="item.size">Size</h3>
                <span *ngIf="item.size">{{item.size}}</span>

              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </tgt-uxlib-table>    
  </div>
</div>

<router-outlet></router-outlet>